<a-entity position="0 2.4 0">
  <a-cylinder
    color="#ccb"
    radius="0.015"
    height="1.5"
    rotation="90 0 0"
    position="-0.025 -0.01 0"
    emissive="#652"
    emissiveIntensity="0.0001"
  ></a-cylinder>
  <a-cylinder
    color="#ccb"
    radius="0.015"
    height="1.5"
    rotation="90 0 0"
    position="0.025 -0.01 0"
    emissive="#652"
    emissiveIntensity="0.0001"
  ></a-cylinder>
  <a-box
    width="0.1"
    height="0.1"
    depth="0.1"
    material="color: #fff; metalness: 0.3"
    position="0 0 0.75"
  ></a-box>
  <a-box
    width="0.1"
    height="0.1"
    depth="0.1"
    color="white"
    position="0 0 -0.75"
  ></a-box>
  <a-box
    width="0.1"
    height="0.1"
    depth="1.4"
    material="color: #fff; transparent: true; opacity: 0.86"
  ></a-box>
  <a-light
    type="spot"
    color="#ff9900"
    position="0 -0.1 0.6"
    intensity="0.03"
    rotation="66 0 0"
    angle="60"
  ></a-light>
</a-entity>
