<a-cylinder
  color="#fff"
  radius="0.015"
  height="1.5"
  rotation="90 0 0"
  position="-0.025 -0.01 0"
  material="emissive: #fed; emissiveIntensity: 0.6"
></a-cylinder>
<a-cylinder
  color="#fff"
  radius="0.015"
  height="1.5"
  rotation="90 0 0"
  position="0.025 -0.01 0"
  material="emissive: #fed; emissiveIntensity: 0.6"
></a-cylinder>
<a-box
  width="0.1"
  height="0.1"
  depth="0.1"
  material="color: #fff; metalness: 0.5"
  position="0 0 0.75"
></a-box>
<a-box
  width="0.1"
  height="0.1"
  depth="0.1"
  color="white"
  position="0 0 -0.75"
></a-box>
<a-box
  width="0.1"
  height="0.1"
  depth="1.4"
  material="color: #fff; transparent: true; opacity: 0.26"
  emissive="#fed"
></a-box>
<a-light type="point" color="#bbb0a0" position="0 -0.14 0.6" intensity="0.1"></a-light>
<a-light type="point" color="#bbb0a0" position="0 -0.14  -0.6" intensity="0.1"></a-light>
